.slotinput-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
}
.slotinput-container input{
    margin: 8px;
}
.slotinput-container label{
  
        text-align: right;
        display: inline-block; /* or display: flex; */
        width: 350px; /* Adjust width as needed */
}
h1{
    text-align: center;
}